---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---
<MainLayout title="Titel">
	<section class="">
		  <h2>We prove the best seo and digital marketing on demand</h2>
		  <p>
			All our content marketing service packages include a custom content
			strategy All our content marketing service packages include a custom
			content strategy.
		  </p>
			<Button href="#">Get started</Button>
			<img src="hike.svg" alt="Hiker illustration" />
	  </section>
</MainLayout>